<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %> 
<body>
    <%- include('partials/header') %>
    <main>
        <div class="main-container">
            <div class="brands-container">
                <% for( let i = 0; i < brands.length; i++ ) { %>
                    <div class="brand-container">
                        <div class="brand-name odd">
                            <h3><%= brands[i].name %></h3>
                        </div>
                        <a href="/catalogo/brands/<%= brands[i].name %>" class="brand-image">
                            <figure>
                                <img src="/images/brands/Brand-<%= brands[i].name %>.jpg" alt="">
                            </figure>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </main>
    <%- include('partials/footer')  %>
</body>
</html>