<!DOCTYPE html>
<html lang="en">
<%- include ("partials/head") %>
<body>
    <%- include('partials/header')  %> 

    <h1>Edit del producto <u><%= product.name %></u></h1>

    <form action="/catalogo/edit/<%= product.id %>" method="POST" enctype="multipart/form-data">
        <label for="id">ID</label>
        <input name="id" type="text" value="<%= product.id %>" disabled>
        <br>
        <label for="name">Nombre</label>
        <input name="name" type="text" value="<%= product.name %>">
        <br>
        <label for="description">Descripción</label>
        <input name="description" type="text" value="<%= product.description %>">
        <br>
        <label for="image">Imagen</label>
        <input name="image" type="file" multiple>
        <br>
        <label for="category_id">Categoría</label>
        <input name="category_id" type="text" value="<%= product.category_id %>">
        <br>
        <label for="brand">Marca</label>
        <input name="brand" type="text" value="<%= product.brand %>">
        <br>
        <label for="SKU">MGS</label>
        <input name="SKU" type="text" value="<%= product.SKU %>">
        <br>
        <label for="minimum_required">Cantidad mínima requerida</label>
        <input name="minimum_required" type="text" value="<%= product.minimum_required %>">
        <br>
        <button type="Submit" class="pdf-btn">
            Enviar
        </button>
    </form>

    <%- include('partials/footer') %> 
</body>
</html>