<!DOCTYPE html>
<html lang="en">
<%- include ("partials/head") %>
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="main-container">
            <div class="form-container">
                <form action="/catalogo/edit/image/<%= id %>" method="POST" enctype="multipart/form-data">
                    
                    <div class="images-container">
                        <% for( let i = 0; i < images.length; i++ ) { %>
                        <div class="image-container">
                            <div class="info-container">
                                <div class="info label">
                                    <label for="images">Imagen <%= images[i].image_id %></label>
                                </div>
                                <div class="info select">
                                    <select name="option" class="option" id="option">
                                        <% for( let a = 0; a < images.length; a++ ) { %>
                                            <option><%= a + 1 %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="info delet">
                                    <a class="delete" href="/catalogo/edit/image/delete/<%= images[i].image_id %>">
                                        <i class="fa-solid fa-xmark"></i>
                                    </a>
                                </div>
                            </div>
                            
                            <input name="name" type="text" value="<%= images[i].image_id %>" hidden>
                            <input class="image" name="images" type="image" src="/images/product/<%= images[i].filename %>" width="250px" height="250px">
                            <input name="image" type="image" value="/images/product/1.jpg" hidden>
                            <input name="id" type="text" value="<%= images[i].id %>" hidden>
                            <input name="filename" type="text" value="<%= images[i].filename %>" hidden>
                            
                            
                        </div>
                        <% } %>
                    </div>
                    <div class="danger-container">
                        <div class="text-danger">
                            <h5><i class="fa-regular fa-circle-xmark"></i> Dos o más imágenes tienen asignadas el mismo orden.</h5>
                        </div>
                    </div>
                    <button type="submit" class="pdf-btn">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %> 
    <script src="/js/editImage.js"></script>
</body>
</html>