<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>
    <main>
        <div class="main-container">
            <!-- Banner Principal -->
            <div class="banner-principal">
                <section class="banner-principal-section">
                    <article class="banner-principal-article">
                        <div class="banner">
                            <div class="banner-btns-box">
                                <div class="banner-btn-box first-btn">
                                    <button>
                                        <i class="fa-solid fa-caret-left"></i>
                                    </button>
                                </div>
                                <div class="banner-btn-box second-btn">
                                    <button>
                                        <i class="fa-solid fa-caret-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="banner-box-container">
                                <div class="banner-box">
                                    <figure>
                                        <img src="/images/pic1.jpg" alt="">
                                    </figure>
                                    <figure>
                                        <img src="/images/pic2.jpg" alt="">
                                    </figure>
                                    <figure>
                                        <img src="/images/pic3.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
            <section class="novedades-section">
                <h3>Novedades</h3>
                <!-- Botones de la lista | Inicio -->
                <div class="novedades-btns">
                    <figure class="f-i">
                        <button type="button">
                            <i class="fa-solid fa-caret-right"></i>
                        </button>
                    </figure>
                    <figure class="s-i">
                        <button type="button">
                            <i class="fa-solid fa-caret-left"></i>
                        </button>
                    </figure>
                </div>
                <!-- Botones de la lista | Fin -->
                <div class="novedades-section-wrapper">
                    <div class="articles-container">
                        <% for( let i = 0; i < products.length; i++ ) { %>
                            <% if (i <= 4) { %>
                                <div class="product-wrapper-first">
                                    <div class="product first">
                                        <a href="/catalogo/detail/<%= products[i].id %>">
                                            <figure>
                                                <% for( let a = 0; a < images.length; a++ ) { %>
                                                    <% if (images[a].id == products[i].id) { %>
                                                        <img src="/images/product/<%= images[a].filename %>" alt="">
                                                    <% } %>
                                                <% } %>  
                                            </figure>
                                            
                                            <div class="product-info">
                                                <h5><%= products[i].name %></h5>
                                                <h6>Marca: <%= products[i].marca %></h6>
                                                <input class="minimum-required" type="number" value="<%= products[i].minimum_required %>" hidden>
                                                <input class="SKU" type="number" value="<%= products[i].SKU %>" hidden>
                                            </div>
                                        
                                        <% if (locals.isLogged) { %>
                                           <!-- Absolutamente nada -->
                                        <% } else { %>
                                            <div class="btns">
                                                    <button class="cotizar-button" data-id="<%= products[i].id %>">
                                                        <p>Cotizar</p>
                                                    </button>
                                                </div>
                                            <% } %>
                                        </a>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="product-wrapper-second">
                                    <div class="product second">
                                        <a href="/catalogo/detail/<%= products[i].id %>">
                                            <figure>
                                                <% for( let a = 0; a < images.length; a++ ) { %>
                                                    <% if (images[a].id == products[i].id) { %>
                                                        <img src="/images/product/<%= images[a].filename %>" alt="">
                                                    <% } %>
                                                <% } %>  
                                            </figure>
                                            
                                            <div class="product-info">
                                                <h5 ><%= products[i].name %></h5>
                                                <h6>Marca: <%= products[i].marca %></h6>
                                                <input class="minimum-required" type="number" value="<%= products[i].minimum_required %>" hidden>
                                                <input class="SKU" type="number" value="<%= products[i].SKU %>" hidden>
                                            </div>
                                        
                                        <% if (locals.isLogged) { %>
                                           <!-- Absolutamente nada -->
                                        <% } else { %>
                                            <div class="btns">
                                                    <button class="cotizar-button budget-btn" data-id="<%= products[i].id %>">
                                                        <p>Cotizar</p>  
                                                        <i class="fa-solid fa-calculator"></i>
                                                    </button>
                                                </div>
                                            <% } %>
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </section>
            <section class="description-section">
                <div class="description-container">
                    <div class="square-container">
                        <div class="square">
                            <div class="first-text">
                                <p>Somos una empresa líder en el mercado del merchandising, regalos empresariales y material para punto de venta P.O.P.</p>
                            </div>
                            <div class="icon-container">
                                <img src="/images/icons/Magus-logo.png" alt="">
                            </div>
                            <div class="bright"></div>
                            <div class="last-text">
                                <p>Magus Promociones. ¡Desde 2002, Excelencia en marketing promocional!</p>
                            </div>
                        </div>
                    </div>
                    <div class="texts-container">
                        <div class="text-container">
                            <div class="text">
                                <p>Nuestros productos son concebidos, desarrollados y producidos tomando como estándar la excelencia, representada en sus diseños novedosos, exitosa funcionalidad y sólida artesanía.</p>
                            </div>
                        </div>
                        <div class="text-container">
                            <div class="text">
                                <p>Utilizamos las más modernas y eficientes técnicas de aplicación, para que las marcas comuniquen, se destaquen y perduren en el tiempo en los mismos, como se merecen.</p>
                            </div>
                        </div>
                        <div class="text-container">
                            <div class="text">
                                <p>Nuestra premisa es simple: somos socios de nuestros clientes y los acompañamos en sus acciones promocionales, hasta que alcancen el éxito en la implementación de su campaña.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="marcas-section">
                <h3>Nuestras Marcas</h3>
                <article class="marcas-article">
                    
                </article>
            </section>
            <section class="clientes-section">
                <h3>Nuestros Clientes</h3>
                <article class="clientes-article">
                    
                </article>
            </section>
        </div>
    </main>
    
    
    <%- include('partials/footer')  %>
    <script src="/js/carrito.js"></script>
    <script src="/js/pedido.js"></script>
    <script src="/js/novedades.js"></script>
    <script src="/js/cardFlip.js"></script>
    <script src="/js/banners.js"></script>
</body>
</html>