<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>
    <main>
        <div class="main-container">
            <!-- Banner Principal -->
            <div class="banner-principal">
                <section class="banner-principal-section">
                    <article class="banner-principal-article">
                        <div class="banner">
                            <div class="banner-box-container">
                                <div class="banner-box">
                                    <figure class="figure figure-one">
                                        <img src="/images/banner/Magus-Banner-1.png" alt="">
                                    </figure>
                                    <figure class="figure figure-two">
                                        <img src="/images/banner/Magus-Banner-2.png" alt="">
                                    </figure>
                                    <figure class="figure figure-three">
                                        <img src="/images/banner/Magus-Banner-3.png" alt="">
                                    </figure>
                                </div>
                            </div>
                            <div class="banner-btns-box">
                                <div class="banner-btn-box first-btn">
                                    <button>
                                        <i class="fa-solid fa-caret-left"></i>
                                    </button>
                                </div>
                                <div class="banner-btn-box second-btn">
                                    <button>
                                        <i class="fa-solid fa-caret-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
            <section class="novedades-section">
                <h3>Novedades</h3>
                <div class="line"></div>
                <!-- Botones de la lista | Inicio -->
                <!--
                <div class="novedades-btns">
                    <figure class="f-i">
                        <button type="button">
                            <i class="fa-solid fa-caret-right"></i>
                        </button>
                    </figure>
                    <figure class="s-i">
                        <button type="button">
                            <i class="fa-solid fa-caret-left"></i>
                        </button>
                    </figure>
                </div>
                -->
                <!-- Botones de la lista | Fin -->
                <div class="novedades-section-wrapper">
                    <div class="articles-container">
                        <% for( let i = 0; i < products.length; i++ ) { %>
                            <% if (i <= 4) { %>
                                <div class="product-wrapper-first">
                                    <div class="product first">
                                        <a class="product-info-container" href="/catalogo/detail/<%= products[i].id %>">
                                            <!-- PRODUCT INSIDE PART 1 -->
                                            <div class="product-top-wrapper">
                                                <div class="product-image-wrapper">
                                                    <div class="product-image">
                                                        <figure>
                                                            <% for( let a = 0; a < images.length; a++ ) { %>
                                                                <% if (images[a].id == products[i].id) { %>
                                                                    <img src="/images/product/<%= images[a].filename %>" alt="">
                                                                <% } %>
                                                            <% } %> 
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- PRODUCT INSIDE PART 2 -->
                                            <div class="product-bottom-wrapper">
                                                <div class="product-info-wrapper">
                                                    <div class="product-info">
                                                        <div class="info name">
                                                            <p><%= products[i].name %></p>
                                                        </div>
                                                        <div class="info brand">
                                                        <% for( let e = 0; e < brands.length; e++ ) { %>
                                                        <% if (products[i].brand == brands[e].id) { %>
                                                            <p><%= brands[e].name %></p>
                                                        <% } %>
                                                        <% } %>
                                                        </div>
                                                        <div class="hidden-info">
                                                            <input class="minimum-required" type="number" value="<%= products[i].minimum_required %>" hidden>
                                                            <input class="SKU" type="number" value="<%= products[i].SKU %>" hidden>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% if (locals.isLogged) { %>
                                                <!-- Absolutamente nada -->
                                                <% } else { %>
                                                <div class="product-budget-btn">
                                                    <button class="cotizar-button budget-btn" data-id="<%= products[i].id %>">
                                                        <i class="fa-solid fa-dolly"></i>
                                                    </button>
                                                </div>
                                                <% } %>
                                            </div>
                                            
                                        </a>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="product-wrapper-second">
                                    <div class="product second">
                                        <a class="product-info-container" href="/catalogo/detail/<%= products[i].id %>">
                                            <!-- PRODUCT INSIDE PART 1 -->
                                            <div class="product-top-wrapper">
                                                <div class="product-image-wrapper">
                                                    <div class="product-image">
                                                        <figure>
                                                            <% for( let a = 0; a < images.length; a++ ) { %>
                                                                <% if (images[a].id == products[i].id) { %>
                                                                    <img src="/images/product/<%= images[a].filename %>" alt="">
                                                                <% } %>
                                                            <% } %>  
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- PRODUCT INSIDE PART 2 -->
                                            <div class="product-bottom-wrapper">
                                                <div class="product-info-wrapper">
                                                    <div class="product-info">
                                                        <div class="info name">
                                                            <p><%= products[i].name %></p>
                                                        </div>
                                                        <div class="info brand">
                                                        <% for( let e = 0; e < brands.length; e++ ) { %>
                                                        <% if (products[i].brand == brands[e].id) { %>
                                                            <p><%= brands[e].name %></p>
                                                        <% } %>
                                                        <% } %>
                                                        </div>
                                                        <div class="hidden-info">
                                                            <input class="minimum-required" type="number" value="<%= products[i].minimum_required %>" hidden>
                                                            <input class="SKU" type="number" value="<%= products[i].SKU %>" hidden>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% if (locals.isLogged) { %>
                                                <!-- Absolutamente nada -->
                                                <% } else { %>
                                                <div class="product-budget-btn">
                                                    <button class="cotizar-button budget-btn" data-id="<%= products[i].id %>">
                                                        <i class="fa-solid fa-dolly"></i>
                                                    </button>
                                                </div>
                                                <% } %>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </section>
            <section class="description-section">
                <h3>Sobre Nosotros</h3>
                <div class="description-section-container">
                    <div class="custom-shape-divider-top-1669828692">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                        </svg>
                    </div>
                    <div class="description-container">
                        <div class="square-container">
                            <div class="square">
                                <div class="first-text">
                                    <p>Somos una empresa líder en el mercado del merchandising, regalos empresariales y material para punto de venta P.O.P.</p>
                                </div>
                                <div class="icon-container">
                                    <img src="/images/icons/Magus-logo.png" alt="">
                                </div>
                                <div class="bright"></div>
                                <div class="last-text">
                                    <p>Magus Promociones. ¡Desde 2002, Excelencia en marketing promocional!</p>
                                </div>
                            </div>
                        </div>
                        <div class="texts-container">
                            <div class="text-wrapper">
                                <div class="text-icon">
                                    <i class="fa-solid fa-brain"></i>
                                </div>
                                <div class="text-container">
                                    <div class="text">
                                        <p>Nuestros productos son concebidos, desarrollados y producidos tomando como estándar la excelencia, representada en sus diseños novedosos, exitosa funcionalidad y sólida artesanía.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <div class="text-container">
                                    <div class="text">
                                        <p>Utilizamos las más modernas y eficientes técnicas de aplicación, para que las marcas comuniquen, se destaquen y perduren en el tiempo en los mismos, como se merecen.</p>
                                    </div>
                                </div>
                                <div class="text-icon">
                                    <i class="fa-solid fa-chart-simple"></i>
                                </div>
                            </div>
                            <div class="text-wrapper">
                                <div class="text-icon">
                                    <i class="fa-solid fa-people-group"></i>
                                </div>
                                <div class="text-container">
                                    <div class="text">
                                        <p>Nuestra premisa es simple: somos socios de nuestros clientes y los acompañamos en sus acciones promocionales, hasta que alcancen el éxito en la implementación de su campaña.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="custom-shape-divider-bottom-1669828692">
                        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                        </svg>
                    </div>
                </div>
            </section>
            <section class="clientes-section">
                <h3>Nuestros Clientes</h3>
                <div class="clientes-wrapper-container">
                    <div class="clientes-wrapper">
                        <div class="clientes-container">
                            <article class="cliente-article">
                                <figure>
                                    <img src="/images/clients/Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="cliente-article">
                                <figure>
                                    <img src="/images/clients/Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="cliente-article">
                                <figure>
                                    <img src="/images/clients/Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="cliente-article">
                                <figure>
                                    <img src="/images/clients/Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="cliente-article">
                                <figure>
                                    <img src="/images/clients/Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="cliente-article">
                                <figure>
                                    <img src="/images/clients/Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="cliente-article">
                                <figure>
                                    <img src="/images/clients/Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                            <article class="cliente-article">
                                <figure>
                                    <img src="/images/clients/Cliente-Agfa.jpg" alt="">
                                </figure>
                            </article>
                        </div>
                        
                    </div>
                    
                </div>
            </section>
        </div>
    </main>
    <%- include('partials/footer')  %>
    <script src="/js/carrito.js"></script>
    <script src="/js/pedido.js"></script>
    <!-- <script src="/js/novedades.js"></script> -->
    <script src="/js/cardFlip.js"></script>
    <script src="/js/banners.js"></script>
</body>
</html>