<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')  %> 
<body>
    <main>
        <div class="form-container">
            <form action="/catalogo/create" method="POST">
                <div class="form-title">
                    <h2>¡Subí un nuevo producto!</h2>
                </div>
                <div class="inside-form">
                    <div class="section-container">
                        <label for="name">Nombre</label>
                        <input name="name" type="text" value="<%= locals.oldData ? oldData.name : null %>">
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="section-container">
                        <label for="brand">Marca</label>
                        <select name="brand" id="brand">
                            <% if (locals.oldData) { %>
                                <option value="<%= oldData.brand %>"><%= oldData.brand %></option>
                            <% } else { %>
                                <option disabled selected value=""></option>
                            <% } %>
                            <% for( let b = 0; b < brands.length; b++ ) { %>
                                <option value="<%= brands[b].id %>"><%= brands[b].name %></option>
                            <% } %>
                        </select>
                        <% if (locals.errors && errors.brand) { %>
                            <div class="text-danger">
                                <%= errors.brand.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="section-container">
                        <label for="category">Categoría(s)</label>
                        <select name="category" id="category">
                            <% if (locals.oldData) { %>
                                <option value="<%= oldData.category %>"><%= oldData.category %></option>
                            <% } else { %>
                                <option disabled selected value=""></option>
                            <% } %>
                            <% for( let a = 0; a < categories.length; a++ ) { %>
                                <option value="<%= categories[a].id %>"><%= categories[a].title %></option>
                            <% } %>
                        </select>
                        <% if (locals.errors && errors.category) { %>
                            <div class="text-danger">
                                <%= errors.category.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="section-container">
                        <label for="SKU">SKU</label>
                        <input name="SKU" type="text" value="<%= locals.oldData ? oldData.SKU : null %>">
                        <% if (locals.errors && errors.SKU) { %>
                            <div class="text-danger">
                                <%= errors.SKU.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="section-container">
                        <label for="minimum_required">Mínimo requerido</label>
                        <input name="minimum_required" type="number" value="<%= locals.oldData ? oldData.minimum_required : null %>">
                        <% if (locals.errors && errors.minimum_required) { %>
                            <div class="text-danger">
                                <%= errors.minimum_required.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <div class="section-container">
                        <label for="description">Descripción</label>
                        <input name="description" type="text" value="<%= locals.oldData ? oldData.description : null %>">
                        <% if (locals.errors && errors.description) { %>
                            <div class="text-danger">
                                <%= errors.description.msg %> 
                            </div>
                        <% } %>
                    </div>
                    <button type="submit">¡Crear producto!</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>