<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <% for( let i = 0; i < style.length; i++ ) { %>
        <link rel="stylesheet" href="/css/<%= style[i] %>"/>
    <% } %>
    <!--
    <% if (style == 'style.css') { %>
        <link rel="stylesheet" href="/css/<%= style %>"/>
    <% } else { %>
        <% for( let i = 0; i < style.length; i++ ) { %>
            <link rel="stylesheet" href="/css/<%= style[i] %>"/>
        <% } %>
    <% } %>
    -->
   <% if (links.length != 0) { %>
        <link rel="icon" type="image/x-icon" href="/images/icons/<%= links %> ">
   <% } %>
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
</head>